{{if .Pjax}}
	{{template "header.html" .}}
	<meta property="og:description" content="Learn where to contact the Indigo team if you have any questions, or in the case of an emergency.">
{{else}}
	<title>{{.Title}} - Indigo</title>
{{end}}
<div id="main-body" class="profile-top">
    {{template "general_sidebar.html" .}}
    <div class="main-column" id="help">
		<div class="post-list-outline">
			<h2 class="label">Contact the Team</h2>
			<div id="guide" class="help-content">
				<p>If you need to contact the site's development team for any reason, you can find out how to do so here. Please note that if you have a question, you should first consult the <a href="/help/faq">FAQ page.</a></p>
				<h2>Robby</h2>
				<p>Site developer, co-owner and advertiser.</p>
				<p>User page: <a href="/users/rwilcox">rwilcox</a></p>
				<p>Email: <a href="mailto:stampylongr@icloud.com">stampylongr@icloud.com</a></p>
				<h2>Sorurus</h2>
				<p>Site developer and co-owner.</h2>
				<p>User page: <a href="/users/Sorurus">Sorurus</a></p>
				<p>Email: <a href="mailto:srookstool@icloud.com">srookstool@icloud.com</a></p>
			</div>
		</div>
    </div>
</div>
{{if .Pjax}}
    {{template "footer.html"}}
{{end}}
